<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,600,700,400italic,600italic,700italic|Cardo:400,700,400italic' rel='stylesheet' type='text/css'>

    <!-- Included CSS Files -->
    <link rel="stylesheet" href="{{ SITEURL }}/theme/stylesheets/{{ CSS_FILE }}" type="text/css" />

    <!-- Syndication feeds -->
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}

    <script src="{{ SITEURL }}/theme/javascripts/foundation/modernizr.foundation.js"></script>

    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>
    <body>

        <header id="banner">
            <div class="row">
                <div class="twelve columns">
                    <h1><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
                    <div class="baseline">{% if SITESUBTITLE %}<span>{{ SITESUBTITLE }}</span>{% endif %}</div>
                    <nav><ul>
                        {% for title, link in MENUITEMS %}
                        <li><a href="{{ link }}">{{ title }}</a></li>
                        {% endfor %}
                        {% if DISPLAY_PAGES_ON_MENU %}
                        {% for page in PAGES %}
                        <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
                        {% endfor %}
                        {% endif %}
                        {% for cat, null in categories %}
                        <li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                        {% endfor %}
                    </ul></nav>
                </div>
            </div>
        </header><!-- /#banner -->

        {% block content %}{% endblock %}

        <footer id="contentinfo">
            <div class="row">
                <div class="social four columns">
                    <h3>Stay tuned!</h3>
                    <ul class="feeds">
                        <li class="atom"><a href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate">atom feed</a></li>
                        {% if FEED_RSS %}
                        <li class="rss"><a href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate">rss feed</a></li>
                        {% endif %}

                        {% for name, link in SOCIAL %}
                        <li><a href="{{ link }}">{{ name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>                
                <div class="four columns">
                    {% if LINKS %}
                    <div class="blogroll">
                        <h3>Blog Roll</h3>
                        <ul>
                            {% for name, link in LINKS %}
                            <li><a href="{{ link }}">{{ name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div><!-- /.blogroll -->
                    {% endif %}
                </div>
                <div class="four columns">
                    <h3>About us</h3>
                    <ul>
                    {% for page in PAGES %}
                        <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="vspacer"/></div>
            <div class="row">                
                <div class="twelve columns">
                    <address id="about" class="vcard body">
                        Proudly powered by <a href="http://getpelican.com/">Pelican</a>, which takes great advantage of <a href="http://python.org">Python</a>.
                    </address><!-- /#about -->
                </div>
            </div>
        </footer><!-- /#contentinfo -->

        {% include 'analytics.html' %}
        {% include 'piwik.html' %}
        {% include 'disqus_script.html' %}

        <!-- Included JS Files (Uncompressed) -->
        <script src="{{ SITEURL }}/theme/javascripts/foundation/jquery.js"></script>
        <script src="{{ SITEURL }}/theme/javascripts/foundation/jquery.foundation.accordion.js"></script>
        <script src="{{ SITEURL }}/theme/javascripts/foundation/jquery.foundation.alerts.js"></script>
        <script src="{{ SITEURL }}/theme/javascripts/foundation/jquery.foundation.buttons.js"></script>
        <script src="{{ SITEURL }}/theme/javascripts/foundation/jquery.foundation.forms.js"></script>
        <script src="{{ SITEURL }}/theme/javascripts/foundation/jquery.foundation.mediaQueryToggle.js"></script>
        <script src="{{ SITEURL }}/theme/javascripts/foundation/jquery.foundation.navigation.js"></script>
        <script src="{{ SITEURL }}/theme/javascripts/foundation/jquery.foundation.orbit.js"></script>
        <script src="{{ SITEURL }}/theme/javascripts/foundation/jquery.foundation.reveal.js"></script>
        <script src="{{ SITEURL }}/theme/javascripts/foundation/jquery.foundation.tabs.js"></script>
        <script src="{{ SITEURL }}/theme/javascripts/foundation/jquery.foundation.tooltips.js"></script>
        <script src="{{ SITEURL }}/theme/javascripts/foundation/jquery.placeholder.js"></script>

        <!-- Application Javascript, safe to override -->
        <script src="{{ SITEURL }}/theme/javascripts/foundation/app.js"></script>
    </body>
    </html>
