// Articles styles

article { 
    .entry-title {
        border-bottom:1px solid $txtColor;
        padding-bottom:10px;
    }

    footer.post-info {
        font-size:0.7em;

        abbr { font-size:0.7em; }

        .published { 
            margin-bottom:5px;
        }

        .author { 
            margin-bottom: 25px; 
            color: rgba(102, 100, 100, 1.00); 
            text-indent: 0px; 
            letter-spacing: 1px; 
            font-style:normal;
            text-align:right;
            & > a { 
                text-transform:uppercase;
            }
        }
    }

    img {
        padding:10px; 
        border:1px solid $color5;
    }

    .intro { 
        margin: 25px 0px; 
        padding:20px; 
        background-color:$color2;
        text-indent: 0px; 
        letter-spacing: 0px; 
        font-weight: 400;
        font-style: normal;
    }

    footer.post-footer-info {
        margin:40px 0 20px;
        padding:20px;
        border-top:1px solid $txtColor;
        background-color:$color2;
        font-size:0.6em;
    }
}


