
#banner, #contentinfo{ 
    background-image:url("../images/newspaper/asfalt.png");
    color:$secondaryColor;
    @include box-shadow($txtColor 0px 0px 10px);
    a { color:$secondaryColor; }
}

#banner {
    h1 { 
        line-height:normal;
        margin:0 0 5px;
    }
    nav {
        ul {
            list-style-type:none;
            li {
                float:left;
                padding-right:10px;
                text-transform:uppercase;
                a { 
                    border-bottom:0;
                    &:hover {
                        border-bottom: 1px solid $color4;
                    }
                }
            }
        }
        padding-bottom:30px;
    }
    .baseline { 
        font-weight:normal;
        text-transform:uppercase;
        letter-spacing:2px;
        color:$color5;
        span {
            padding:3px 0 0;
            border-top: 1px solid $color5;
            //border-bottom: 1px solid $color5;
        }
        
    }
}

#contentinfo { 
    margin:20px 0 0 0;
    padding:20px 0;
}

ol.hfeed { 
    list-style-type:none;
    li {
        margin-bottom:20px;
        padding:0 10px 10px;
        background-color:$color2;
    }
}

.vspacer { 
    clear:both; 
    padding:35px 0; 
}
